{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">We Are <span class="usa-hero__heading--alt">Making Progress</span> and an <span class="usa-hero__heading--alt">Impact!</span> 
      </h1>
      <p>To date, the WWTG has negotiated three agreements and one MOU that promote international wine trade.</p>
      <a class="usa-button" href="javascript:void(0)">Read More About Active Agreements</a>
    </div>
  </div>
</section>
