{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  
  {% comment %}
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text"
        %}
                <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Participant Countries and Group Management</h3>
          <p>
            Graphic headings can be used a few different ways, depending on what
            your landing page is for. Highlight your values, specific program
            areas, or results.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text"
        %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Agreements, Programs, & Successes</h3>
          <p>
            Keep body text to about 30 words. They can be shorter, but try to be
            somewhat balanced across all four. It creates a clean appearance
            with good spacing.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text"
        %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Wine Regulatory Principles</h3>
          <p>
            For anything you want to highlight here, understand what your users
            know now, and what activity or impression you want from them after
            they see it.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text"
        %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Mission, Vision, & Objectives</h3>
          <p>
            In addition to your goal, find out your users’ goals. What do they
            want to know or do that supports your mission? Use these headings to
            show those.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
<ul class="usa-card-group">
  
  <li class="usa-card tablet:grid-col-4 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">20th Anniversary Statement</h2>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="assets/uploads/hero-bottles-of-wine.jpg"
            alt="wine bottles on rack"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>Over the past two decades, the WWTG has worked to facilitate international trade in wine, while ensuring regulators can appropriately protect consumers, through information sharing, discussion of regulatory issues in wine markets and joint actions for the removal of trade barriers.</p>
      </div>
      <div class="usa-card__footer">
        <a class="usa-button" href="https://federalist-4401490c-70b3-49a2-81a1-7175eeb5306d.app.cloud.gov/site/sldooley/test/twenty-yr-statement">Read the Full 20th Anniversary Statement</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col-4 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">Mission, Vision & Objectives</h2>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="assets/uploads/hero-vine-w-blurry-field.jpg"
            alt="wine bottles on rack"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>Encouraging intergovernmental initiatives and government activities designed to facilitate global trade in wine according to the Vision principles, in response to identified challenges and opportunities.</p>
      </div>
      <div class="usa-card__footer">
        <a class="usa-button" href="https://federalist-4401490c-70b3-49a2-81a1-7175eeb5306d.app.cloud.gov/site/sldooley/test/mission-vision-objective/">Learn More About the WWTG</a>
      </div>
    </div>
  </li>
  
  <li class="usa-card tablet:grid-col-4 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">Participants</h2>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="assets/uploads/hero-barrels-of-wine.jpg"
            alt="wine bottles on rack"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>We are an association of national wine industry and government representatives of wine producing countries interested in information sharing and joint actions to provide better access to international wine markets and facilitating trade in wine.</p>
      </div>
      <div class="usa-card__footer">
        <a class="usa-button" href="https://federalist-4401490c-70b3-49a2-81a1-7175eeb5306d.app.cloud.gov/site/sldooley/test/participation/">Explore Current Participants & Learn How to Join</a>
      </div>
    </div>
  </li>
</ul>

</section>
