{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Guided by principles that facilitate trade in wine and protect consumers.</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Founded in 1998, the World Wiine Trade Group (WWTG) aims to facilitate international trade in wine through information sharing, discussion of regulatory issues in wine markets, and joint actions for the removal of trade barriers. Guided by principles that facilitate trade in wine and protect consumers, our goal is to benefit both wine exporting and importing countries.</p>
      <p>We are a group of government and industry representatives from the wine-producing countries of Argentina, Australia, Canada, Chile, Georgia, New Zealand, South Africa, the United States, and Uruguay. We recognize the unique characteristics of each regulatory system and work towards the mutual acceptance of practices and labelling rather than imposing a single regulatory approach.</p>
    </div>
  </div>
</section>
